<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Pizza App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="custom-container mx-auto flex items-center justify-between py-4">
        <div class="left-image">
            <img src="/img/logo.png" alt="logo" />
        </div>
        <div>
            <ul class="flex items-center" id="list">
                <li class="ml-6"><a class="" href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <li class="ml-6"><a href="#">Register</a></li>
                <li class="ml-6"><a href="#">Login</a></li>
                <li class="ml-6"><a href="#" class=" cart-icon inline-block px-4 py-2 rounded-full"><img src="/img/cart.png"  alt="cart" /></a></li>
                <img src="/img/arrow.png" alt="" id="closeMenu">
            </ul>
            <img src="/img/menu.png" alt="" id="sideMenu">
        </div>
    </nav>

    {{!-- herosection --}}
    <section class="hero py-16">
        <div class="custom-container mx-auto flex items-center justify-between ">
            <div class="w-1/2">
                <h6 class="italic text-xl">Are You hungry?</h6>
                <h1 class=" font-bold text-5xl">Dont't Wait!</h1>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.png" />
            </div>
        </div>
    </section>

    <section class="menu custom-container mx-auto py-16">
        <h1 class="font-bold text-2xl my-6">All Pizza's</h1>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-y-16 gap-x-14 sm:justify-center">
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="img/pizza.png" alt="" />
                <div class="text-center ">
                    <h2 class="mb-4 text-lg ">Margherita</h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">small</span>
                </div>
                <div class="flex items-center justify-around mt-6">
                    <span class="">Rs 250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span class="font-bold text-lg">+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

    </section>







    <script src="/js/app.js"></script>
    <script>
        let display= document.getElementById('sideMenu');
        let hidden = document.getElementById('closeMenu');
        let list   = document.getElementById('list'); 
        display.onclick=function(){
            list.style.visibility="visible";  
            list.style.right="0%";
        }
        hidden.onclick=function(){
            list.style.right="-50%";
        }

    </script>
</body>

</html>